<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SMSLocalization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B7A98CF1CEDA60A0046E924</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B7A98E31CEDA60A0046E924</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B7A98EE1CEDA60A0046E924</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
